.task-board {
  display: flex;
  justify-content: space-between;
  gap: 16px;
}

.task-column {
  flex: 1;
  margin: 8px;
  border: 1px solid lightgrey;
  border-radius: 4px;
  min-height: 300px;
  padding: 8px;
  background-color: #f4f4f4;
  display: flex;
  flex-direction: column;
}

.task-column h3 {
  margin-bottom: 16px;
  text-align: center;
}

.task-item {
  user-select: none;
  padding: 16px;
  margin: 0 0 8px 0;
  border: 1px solid lightgrey;
  border-radius: 4px;
  background-color: white;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.task-item:active {
  background-color: #f0f0f0;
}


